@mixin autism-templates-index {
  .thought-bubble {
    @include border-radius(30px);
    padding: 25px 15px 25px 15px;
    background-color: #fff;
    font-size: 18px;
  }
  .retarded-child {
    margin-top: 20px;
  }
  .massively-buffered {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .bottom-padded {
    padding-bottom: 5%;
  }
  .border-bottom {
    @include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
  }
  .on-the-edge {
    text-align: center;
    margin-bottom: -60px;
    i {
      @extend .fa-2x;
    }
    .rounded {
      @include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);   
      @include border-radius(25px);
      background: #fff;
      padding: 15px 10px 10px 10px;
    }
  }
  .jumbotron {
    width: 100%;
  }
}