@mixin autism-shared-common {
  .bold {
    font-weight: bold;
  }
  .colon:after {
    content: ":";
  }
  .ellipsis:after {
    content: "...";
  }
  .comma:not(:last-child) {
    &:after {
      content: ",";
    }
  }
  .tab {
    margin-right: 15px; 
  }
  .dash:after {
    content: " - ";
  }
  .predash:before {
    content: ' - ';
  }
  .pound:after {
    content: '#';
  }
  .ellipsis {
    text-overflow: ellipsis;
  }
  .parantheses:after {
    content: ")";
  }
  .parantheses:before {
    content: "(";
  }
  .italic {
    font-style: italic;
  }
  .capitalize {
    text-transform: capitalize;
  }
  .upcase {
    text-transform: uppercase;
  }
  .select-control {
    select {
      @extend .form-control;
    }
  }
  i {
    @extend .fa;
  }
  .flare {
    color: $text-flare;
  }

  span.highlight {
    color: $highlight-orange;
  }

  span.electrify {
    color: $highlight-blue;
  }

  .debug-hidden {
    position: absolute;
    display: none;
    top: 15px;
    left: 15px;
    width: 50%;
    color: $text-flare;
  }

  .hidden {
    display: none;
  }

  .white {
    color: $text-white;
  }

  .parantheses:before {
    content: " ( ";
  }
  .parantheses:after {
    content: " ) ";
  }

  .align-center {
    text-align: center;
  }

  .align-right {
    text-align: right;
  }

  .upcase {
    text-transform: uppercase;
  }

  .capitalize {
    text-transform: capitalize;
  }

  
}