@import 'shared/variables';
@import 'shared/bootstrap-extension';
@import 'autism/shared/main';
@import 'autism/shared/common';
@import 'autism/components/autist-modal';

body {
  @include shared-bootstrap-extension;
  @include autism-shared-common;
}

main {
  @include autism-shared-main;
}

#modal {
  @include autism-components-autist-modal;
}

header {
  position: fixed;
  left: 15px;
  top: 35%;
  a {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    
    i {
      @extend .fa-3x;
    }
  }
}

footer {
  padding-top: 25px;
  bottom: 0px;
  .jumbotron {
    margin-bottom: 0px;
  }
}